In [45]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [29]:
obj1 = Series([4, 2, 5, 3], index=['a','b','c','d'])

print(obj1.values)
print(obj1.index)
print(obj1)

[4 2 5 3]
Index(['a', 'b', 'c', 'd'], dtype='object')
a    4
b    2
c    5
d    3
dtype: int64

In [30]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data, 
        columns=["year", 'state', 'pop', 'debt'],
        index=["Ryan", "Peter", "Rob23", "Steve", "Kaven"])

# frame["state"] # 取‘state’列
# frame.loc["Peter"] # 取 ‘Peter’ 行
frame['debt'] = Series([0.5, 1.3, 2.1], index=["Ryan", "Rob23", "Kaven"]) # 为'列'赋值

frame['rich'] = frame['pop'] > 2.5 # 为'列'赋值

frame #frame.columns

       year   state  pop  debt   rich
Ryan   2000    Ohio  1.5   0.5  False
Peter  2001    Ohio  1.7   NaN  False
Rob23  2002    Ohio  3.6   1.3   True
Steve  2001  Nevada  2.4   NaN  False
Kaven  2002  Nevada  2.9   2.1   True

In [31]:
dic = {
    'Nevada': {
        2001: 2.4, 
        2002: 2.9
    },
    'Ohio': {
        2000: 1.5, 
        2001: 1.7, 
        2002: 3.6
    }
}

date = [2000, 2001, 2002]
f2 = DataFrame(dic, index=date);

f2.T

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6

In [42]:
obj = Series(range(7), index=['a', 'b', 'c', 'e', 'f', 'g', 'h'])
index = obj.index
index # 切片
#  ['a', 'b', 'c', 'e', 'f', 'g', 'h']
# index[:3] # 只取前三个元素
# index[:-3] # 除了后三个，其他元素都要
# index[3:] # 除了前三个，其他元素都要
# index[-3:] # 只去后三个元素

Index(['f', 'g', 'h'], dtype='object')

In [44]:
index1 = pd.Index(np.arange(8)) # int64

index1

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [56]:
# read txt
d1 = pd.read_csv('./data/ex1.csv', index_col=['key1', 'key2'])

d1

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [32]:
from numpy.linalg import inv, qr ## 矩阵运算

X = np.random.randn(5,5)
mat = X.T.dot(X) # X.T 代表 X转置

DataFrame(mat)

          0         1          2         3         4
0  5.002936 -0.294214  -4.083236 -0.427109  0.691148
1 -0.294214  2.234693   0.283918  0.221248 -0.512086
2 -4.083236  0.283918  10.407611  2.046740  0.175555
3 -0.427109  0.221248   2.046740  8.666792  0.107010
4  0.691148 -0.512086   0.175555  0.107010  0.911491