In [10]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [5]:
obj1 = Series([4, 2, 5, 3], index=['a','b','c','d'])

print(obj1.values)
print(obj1.index)
print(obj1)

[4 2 5 3]
Index(['a', 'b', 'c', 'd'], dtype='object')
a    4
b    2
c    5
d    3
dtype: int64

In [6]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)

frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [13]:
# DataFrame(np.array([[1, 2, 3], [4, 5, 6]]))
from numpy.linalg import inv, qr ## 矩阵运算

X = np.random.randn(5,5)
mat = X.T.dot(X) # X.T 代表 X转置

DataFrame(mat)

   0  1  2
0  1  2  3
1  4  5  6